@import "tailwindcss";

@font-face {
  font-family: "Mamelon";
  src: url("/fonts/Mamelon-5-Hi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Mamelon" sans-serif;
}


